*{
    box-sizing: border-box;
}
body{
    background-color:#050505;
}
.container1{
    position:absolute;
    left:39px;
    top:59px;
}
.polygon2{
    position:absolute;
    left:5.69px;
}
.polygon3{
    position:absolute;
    left:11.38px;
}
.polygon4{
    position:absolute;
    left:17.07px;
}
.container2{
    position: absolute;
    left:-206px;
    top:-56px;
}
.container3{
    position:absolute;
    left:48px;
    top:192px;   
}
.container4{
    position:absolute;
    left:39px;
    top:230px;
}
.container5{
    position: absolute;
    left:802px;
    top:-23px;
}
.container6{
    position:absolute;
    left:120px;
    top:635px;
    width:472px;
    Font-family: "inter";
    Font-size: 16px;
    Line-height: 19px;
    Line-height: 100%;
    color:#FFFFFF;
}